.App {
  text-align: center;
}
.mainContainer{
  display: flex;
}
.navContainer{
  border-right: 1px solid rgba(139, 139, 139, 0.562);
}
.topNavContainer{
  border-bottom: 1px solid rgba(139, 139, 139, 0.562);
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  border-radius: 5px;
  background-color: rgb(172, 0, 0) !important;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator button{
  border-radius: 5px !important;
}